/*imports*/
@import url(http://fonts.googleapis.com/css?family=Quicksand);

/*Variablse*/
$font-title: 'Quicksand', sans-serif;

/*Header*/

.nav-box {
    width: 100%;
    float: left;
    h1 {
        font: 20px $font-title;
        margin: 30px 0 15px;
    }
    nav {
        margin: 20px 0 0px;
        margin-left: 25%;
        a {
            font: 15px $font-title;
            padding-top: 10px;
            list-style-type: none;
            text-decoration: none;
            text-align: center;
            color: #000;
            height: 50px;
            background-color: rgb(255, 255, 255);
            }
            a:hover {
                text-decoration: none;
                cursor: pointer;
                color: #FFF;
                background-color: rgb(183, 221, 237);
            }
        }
    }
.divide-line {
    border: 1px solid #000;   
}
.wrapper {
    article {
        margin-top: 50px;
        height: 500px;
        padding: 0px;
        .slide01 {
            z-index: 10;  
        }
        .slide02 {
            z-index: 20;
            display: none;
        }
        .slide03 {
            z-index: 30;
            display: none;
        }   
    }
    aside {
       margin-top: 50px;
        background-color: #fff;
        height: 200px;
        padding: 0px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        z-index: 10;
        float: left;
        &:hover {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
            cursor: pointer;
            p {
                display: none;
            }
        }
        img {
            position: relative   
        }
        p {
            font: 18px $font-title;
            position: absolute;
            color: #fff;
            width: 86%;
            height: 10px;
            top: 75px;
            margin: 0 7%;
            text-align: center;
        }
    }
}
footer {
    .divide-line {
        border: 1px solid #000; 
        margin-top: 100px;
    }
    article {
        margin-top: 0px;
        height: 100px; 
        aside {
            .facebook {
                margin: 25px 0px;
                a {
                   div {
                       cursor: pointer;
                       position: relative;
                       height: 50px;
                       width: 50px;
                       background-repeat: no-repeat;
                       background-image: url("/Images/Facebook_slidehow_site.png");
                   }
                    div:hover {
                        background-position: 0px -50px;  
                    }
                }
            }
            .twitter {
                margin: 25px 0px;
                a {
                   div {
                       cursor: pointer;
                       position: relative;
                       height: 50px;
                       width: 50px;
                       background-repeat: no-repeat;
                       background-image: url("/Images/Twitter_slideshow_site.png");
                   }
                    div:hover {
                        background-position: 0px -50px;  
                    }
                }
            }
            p {
               font: 15px $font-title; 
                margin: 40px 0;
            }
        }
    }
}